@{
    Layout = null;
}

<!DOCKTYPE html>
<html>
    <head>
        <meta name="vieport" content="width=device-width" />
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css"/>
        <title>Party</title>
    </head>
    <body>
        <div class="text-center">
            <h3>
                We're going to have  an exciting party!
            </h3>
            <h4>
                And YOU are invited!
            </h4>
            <a class="btn btn-primary" asp-action="RsvpForm">
                RAVP Now
            </a>
        </div>
        <div>
            <div>
                We're going to have an exciting party. <br />
                (To do: sell it better. Add pictures or something.)
                <div>
                    <a asp-action="RsvpForm">RSVP Now</a>
                </div>
            </div>
        </div>
    </body>
</html>
